<!DOCTYPE html>
<html>
<% include ../views/partials/header %>
  <body>
    <div class="alert alert-success">
      <strong>Oranje is onder voorbehoud en kan worden verwijdert
      Blauw is definitief
</strong>
    </div>

<div class="section">

<%
  for(var a = 0; a < Object.keys(Agenda).length; a++){

    if(Agenda[a].reviewed == false){



%>

  <div class=" alert alert-warning col-sm-4">
    <%= Agenda[a].topic %>
    <br>
    Tijd <%= Agenda[a].slotValue; %>
    <br>
    Tijd <%= Agenda[a].description; %>
  </div>

<%
}else{
  %>
  <div class="alert alert-info col-sm-4">

  </div>
  <%
  }
}
%>

</div>
</body>
