<!DOCTYPE html>
<% include ../views/partials/header %>
<body>

<div class="panel panel-default">
    <div align="center" class="panel-body"><h1>Vul uw order id in</h1></div>
</div>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet" type="text/css">
    </head><body>

<div class="section"><div class="container"><div class="row"><div class="col-md-12"><div class="well well-lg"><h2>Waarschuwing</h2><p>Hierbij annuleert u de reservering. Mocht u later nogmaals een reservering willen doen dan is er de mogelijkheid dat er geen kaartjes beschikbaar zijn. Het annuleren is eenmalig en kan niet worden terug gedraait</p></div></div></div></div></div><div class="section"><div class="container"><div class="row"><div class="form-group">
    <label for="email">Orderid:</label>
    <input type="text" class="form-control" name="email" >
</div></div></div></div></body></html>
