<html>


<head>

    <% include ../views/partials/loggedIn/headeradmin %>



</head>
<body><div class="jumbotron">
    <h1 align="center">Aanwezige</h1>
    <p align="center">Aantal : <b><%= amount %></b></p>
      <div class="col-lg-12"><a href="/admin" syle="float:center" class="btn btn-primary">Terug naar de homepagina</a></div>
</div>
</body>


</html>
