<!DOCTYPE html>
<html>

<% include ../views/partials/header %>
  <body>

        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12"><img src="http://placehold.it/900x450" class="center-block img-responsive img-rounded"></div>
                </div>
            </div>
        </div>
        <div class="section"><div class="container"><div class="row"><div class="col-md-12"><hr style="color: black"></div></div></div></div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <img src="http://placehold.it/450x250" class="center-block img-responsive">
                        <p>Suspendisse tellus tellus, faucibus et gravida in, tristique id quam. Nunc ac ante ut neque scelerisque cursus ut nec magna. Sed interdum a magna quis viverra. Nulla scelerisque sapien elit, in tristique purus cursus a. Vestibulum euismod, tellus a hendrerit sollicitudin, ipsum nunc rhoncus odio, porta elementum ipsum leo ac diam. Pellentesque consectetur convallis sem, in bibendum dui. Donec mollis porttitor ex in laoreet. Nullam massa mauris, ultricies ut laoreet quis, finibus et metus. Cras vitae congue ex. Mauris leo urna, placerat a justo ac, tristique dignissim lorem.</p>
                    </div>
                    <div class="col-md-4">
                        <img src="http://placehold.it/450x250" class="center-block img-responsive">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi porta molestie metus vitae rutrum. Vestibulum massa ipsum, mollis vitae dolor quis, egestas eleifend est. Donec blandit placerat mauris sed iaculis. Sed id ipsum non lorem mattis mollis in congue quam. Nullam aliquet ligula purus, sed varius quam bibendum non. Donec maximus augue a arcu pulvinar, et semper enim semper. Sed nec nunc vel orci semper suscipit ac id nisl. Etiam non nulla vel odio fermentum finibus nec porta libero.</p>
                    </div>
                    <div class="col-md-4">
                        <img src="http://placehold.it/450x250" class="center-block img-responsive">
                        <p>Morbi sollicitudin leo sed erat dignissim semper. Etiam bibendum tortor in porttitor sollicitudin. Aliquam est odio, eleifend ac mauris nec, congue dignissim enim. Vestibulum augue turpis, egestas vel vulputate eget, congue id nibh. Etiam at nisi a lacus tempus efficitur vitae vitae mi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer non ex vel risus dapibus euismod. Suspendisse condimentum eros eget tellus eleifend, et laoreet dolor ultricies. Duis lacinia diam non accumsan </p>
                    </div>
                </div>
            </div>
        </div>
        <footer class="section section-primary">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">
                        <p>Developed by Brandon Kroes</p>
                    </div>
                </div>
            </div>
        </footer>


    </body>
</html>
