<!DOCTYPE html>
<% include ../views/partials/header %>
<body>

<div class="panel panel-default">
    <div align="center" class="panel-body"><h1>Vul uw login gegevens in</h1></div>
</div>


<div class="container">
    <h2 align="center">Logisn</h2>
    <form role="form" action="/users/login" method="post" >
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" name="email" >
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" name="password">
        </div>

        <button type="submit" class="btn btn-default">Versturen</button>

    </form>
    <form action="/registration">
    <button type="submit" class="btn btn-default">Nog geen account?</button>
</form>

</div>

</body>
</html>
