<html>


<head>

    <% include ../views/partials/header %>



</head>
<body><div class="jumbotron">
    <h1 align="center"><%= message_title %></h1>
    <p align="center"><%= message %></p>
      <div class="col-lg-12"><a href="/" syle="float:center" class="btn btn-primary">Terug naar de homepagina</a></div>
</div>
</body>


</html>
