<!DOCTYPE html>
<html>

    <% include ../views/partials/header %>



<body>


    <div class="panel panel-default">
        <div align="center" class="panel-body"><h1>Log in</h1></div>
    </div>


    <div class="container">
        <h2 align="center">Registratie</h2>
        <form role="form" action="/users/newRegistration" method="post">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" name="email" length="45">
            </div>
            <div class="form-group">
                <label for="usr">Voornaam:</label>
                <input type="text" class="form-control" name="voornaam" length="45">
            </div>
            <div class="form-group">
                <label for="usr">Achternaam:</label>
                <input type="text" class="form-control" name="achternaam" length="45">
            </div>
            <div class="form-group">
                <label for="usr">Verjaardag:</label>
                <input type="date" class="form-control" name="verjaardag" length="45">
            </div>
            <div class="form-group">
                <label for="usr">Straat + huisnummer</label>
                <input type="text" class="form-control" name="straat" length="45">
            </div>
            <div class="form-group">
                <label for="usr">Postcode</label>
                <input type="text" class="form-control" name="postcode" length="45">
            </div>
            <div class="form-group">
                <label for="stad">Stad:</label>
                <input type="text" class="form-control" name="stad" length="45">
            </div>
            <div class="form-group">
                <label for="usr">Provincie:</label>
                <input type="text" class="form-control" name="provincie" length="45">
            </div>
            <div class="form-group">
                <label for="usr">Land:</label>
                <input type="text" class="form-control" name="land" length="45">
            </div>
            <div class="form-group">
                <label for="usr">Telefoonnummer:</label>
                <input type="number" class="form-control" name="telefoonnummer" length="45">
            </div>
            <div class="form-group">
                <label for="user">Mobielnummer:</label>
                <input type="number" class="form-control" name="mobielnummer" length="45">
            </div>

            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" name="password"length="45">
            </div>

            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>

    </body>
    </html>

</body>
</html>
