<!DOCTYPE html>

<!-- Filling in the form that is neccecairy for filling a request -->

<html>

    <% include ../views/partials/loggedIn/headeruser %>
<body>
    <div class="container">
        <h2 align="center">Aanvraag spreker</h2>
        <form action="/users/filledrequest" id="requestForm" method="post" class="form-horizontal" >

          <fieldset>

          <!-- Form Name -->
          <legend>Form Name</legend>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Onderwerp</label>
            <div class="col-md-4">
            <input id="wishes" name="topic" type="text" placeholder="Presentatie Wordpress" class="form-control input-md"  maxlength="40" required>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Beschrijving</label>
            <div class="col-md-4">
            <input id="textinput" name="description" type="text" placeholder="Presentatie over.."  maxlength="40" class="form-control input-md">

            </div>
          </div>


          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Wensen</label>
            <div class="col-md-4">
            <input id="textinput" name="wishes" type="text" placeholder="Beamer" class="form-control input-md" required maxlength="40" >
            <span class="help-block">Wat is er allemaal nodig, denk bijvoorbeeld aan een beamer, lege ruimte etc.</span>
            </div>
          </div>

          <!-- Select Basic -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="selectbasic">Tijd, datum en locatie</label>
            <div class="col-md-4">

                    <select id="slotchoice" name="slotchoice" class="form-control">

                  <%
                					for(var b = 0; b < Object.keys(Openslots).length; b++){

                				%>

                				<option value="<%= Openslots[b].idSlot; %>"><%= Openslots[b].slotValue; %></option>

                				<%
                				}
                				%>

              </select>
            </div>
          </div>

          <!-- Select Basic -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="selectbasic">Voorkeur tijd</label>
            <div class="col-md-4">

            <select id="prefferedslotchoice" name="prefferedslotchoice" class="form-control">

                <option value="empty">Geen andere keuze</option>
        <%
          for(var b = 0; b < Object.keys(TakenTimes).length; b++){
        %>
        <option value=<%= TakenTimes[b].idSlot; %>><%= TakenTimes[b].slotValue; %></option>
        <%
        }
        %>

              </select>
                          <span class="help-block">Voorkeur slot is een extra optie om het mogelijk te maken in aanmerking te komen voor een tijd en datum die al behandeling is</span>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label" for="selectbasic">Tag</label>
            <div class="col-md-4">

              <select id="slotchoice" name="tags[]" class="form-control">

                <%
                  for(var b = 0; b < Object.keys(Tags).length; b++){
                %>
                <option value=<%= Tags[b].idTag; %>><%= Tags[b].Tag; %></option>
                <%
                }
                %>

                      </select>

              </select>
                          <span class="help-block">Tag 1 van de 3</span>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label" for="selectbasic">Tag</label>
            <div class="col-md-4">

              <select id="slotchoice" name="tags[]" class="form-control">


                <%
                  for(var b = 0; b < Object.keys(Tags).length; b++){
                %>
                <option value=<%= Tags[b].idTag; %>><%= Tags[b].Tag; %></option>
                <%
                }
                %>

                      </select>
              </select>
              <span class="help-block">Tag 2 van de 3</span>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label" for="selectbasic">Tag</label>
            <div class="col-md-4">

              <select id="slotchoice" name="tags[]" class="form-control">

        <%
          for(var b = 0; b < Object.keys(Tags).length; b++){
        %>
        <option value=<%= Tags[b].idTag; %>><%= Tags[b].Tag; %></option>
        <%
        }
        %>

              </select>
                          <span class="help-block">Tag 3 van de 3</span>
            </div>
          </div>

          <!-- Button -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="singlebutton"></label>
            <div class="col-md-4">
              <button id="singlebutton" class="btn btn-primary">Verstuur</button>
            </div>
          </div>


          </fieldset>
          </form>


</body>
</html>
