<!DOCTYPE html>
<html>
<% include ../views/partials/header %>
  <body>

</head>
<body>
   <div class="section">
      <div class="container">
         <div class="row">
            <h1>Testomgeving<h1>
            <h2>Selecteer de uitkomst van de reservering<h2>
              <br>
              <hr>
            <div class="col-md-3"><a href="/order/succes" class="btn btn-primary">Success</a></div>
            <div class="col-md-3"><a href="/order/failure" class="btn btn-primary">Mislukt</a></div>
         </div>
      </div>
   </div>
</body>
</html>
