﻿<!DOCTYPE html>
<html>
<% include ../views/partials/header %>
  <body>

</head>
<body>
   <div class="section">
      <div class="container">
         <div class="row">
            <h1>Uw bestelling!<h1>
            <h3>Als u bestelling zo goed is druk op accepteren<h3>
             <h4>Kaartjes prijs <%= ticketprice %>,- <br>
             <hr>
			 Lunch prijs <%= lunchprice %>,- <br><hr>
			 Diner prijs <%= dinerprice %>,- <br><hr>
			 Totale prijs <%= totalprice%>,- <br><hr></h4>
			<div class="col-md-3"><a href="/order/reservationstatus" class="btn btn-primary">Accepteren</a></div>
            <div class="col-md-3"><a href="/order/tickets" class="btn btn-primary">Wijzigen</a></div>
         </div>
      </div>
   </div>
</body>
</html>
