<html>


    <% include ../views/partials/loggedIn/headeradmin %>
<body>

<% console.log(timeslot);


	for(var i = 0; i < timeslot.length; i++){


%>
    <div class="section">
       <div class="container">
          <div class="row">
             <div class="col-md-12">
                <div class="well">
                   <h2>Aanvraag : <%= timeslotDate[timeslot[i].idSlot] %> </h2>
				   <h3>Onderwerp: <%= timeslot[i].topic %> </h3>
                   <% if (typeof (timeslot[i].prefferedSlot) != "undefined" && timeslot[i].prefferedSlot !== null) { %>
				   <h4>Voorkeur slot : <%=  timeslotDate[timeslot[i].prefferedSlot] %></h4>
				   <% } %>
                   <h4>Wensen : <%= timeslot[i].wishes %> </h4>
				   <p>Beschrijving : <%= timeslot[i].description %> <p>
				   <a class="btn btn-primary" href="/admin/TimeslotRefuse/<%= timeslot[i].idTimeslot %>">Afwijzgen</a><a class="btn btn-primary" href="/admin/TimeslotAccept/<%= timeslot[i].idTimeslot %>" >Accepteren<br></a>
				   <% if (typeof (timeslot[i].prefferedSlot) != "undefined" && timeslot[i].prefferedSlot !== null) { %>
				   <a class="btn btn-primary" href="/admin/TimeslotSA/<%= timeslot[i].idTimeslot %>">Accepteren voorkeurslot<br></a>
				   <% } %>

             </div>
          </div>
       </div>
    </div>
	<%
	}
%>
</body>
