<!DOCTYPE html>
<html>

  <head>
<% include ../views/partials/loggedIn/headeruser %>

        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
        <title>Cake Form</title>
      <script> /*
      This source is shared under the terms of LGPL 3
      www.gnu.org/licenses/lgpl.html

      You are free to use the code in Commercial or non-commercial projects
      */

       //Set up an associative array
       //The keys represent the size of the cake
       //The values represent the cost of the cake i.e A 10" cake cost's $35

      function LunchFriday()
      {
          var lunchSu=0;
          //Get a reference to the form id="cakeform"
          var theForm = document.forms["cakeform"];
          //Get a reference to the checkbox id="includecandles"
          var includelunchSu = theForm.elements["lunchFri"];

          //If they checked the box set candlePrice to 5
          if(includelunchSu.checked==true)
          {
              lunchSu=20;
          }
          //finally we return the candlePrice
          return lunchSu;
      }

      function LunchSunday()
      {
          var lunchSu=0;
          //Get a reference to the form id="cakeform"
          var theForm = document.forms["cakeform"];
          //Get a reference to the checkbox id="includecandles"
          var includelunchSu = theForm.elements["lunchSu"];

          //If they checked the box set candlePrice to 5
          if(includelunchSu.checked==true)
          {
              lunchSu=20;
          }
          //finally we return the candlePrice
          return lunchSu;
      }

      function LunchSaturday()
      {
          var lunchSu=0;
          //Get a reference to the form id="cakeform"
          var theForm = document.forms["cakeform"];
          //Get a reference to the checkbox id="includecandles"
          var includelunchSu = theForm.elements["lunchSa"];

          //If they checked the box set candlePrice to 5
          if(includelunchSu.checked==true)
          {
              lunchSu=20;
          }
          //finally we return the candlePrice
          return lunchSu;
      }
      function DinerSunday()
      {
          var lunchSu=0;
          //Get a reference to the form id="cakeform"
          var theForm = document.forms["cakeform"];
          //Get a reference to the checkbox id="includecandles"
          var includelunchSu = theForm.elements["dinerSu"];

          //If they checked the box set candlePrice to 5
          if(includelunchSu.checked==true)
          {
              lunchSu=20;
          }
          //finally we return the candlePrice
          return lunchSu;
      }

      function DinerSaturday()
      {
          var lunchSu=0;
          //Get a reference to the form id="cakeform"
          var theForm = document.forms["cakeform"];
          //Get a reference to the checkbox id="includecandles"
          var includelunchSu = theForm.elements["dinerSa"];

          //If they checked the box set candlePrice to 5
          if(includelunchSu.checked==true)
          {
              lunchSu=20;
          }
          //finally we return the candlePrice
          return lunchSu;
      }

      function Friday()
      {
          var lunchSu=0;
          //Get a reference to the form id="cakeform"
          var theForm = document.forms["cakeform"];
          //Get a reference to the checkbox id="includecandles"
          var includelunchSu = theForm.elements["Friday"];

          //If they checked the box set candlePrice to 5
          if(includelunchSu.checked==true)
          {
              lunchSu=45;
          }
          //finally we return the candlePrice
          return lunchSu;
      }
      function Saturday()
      {
          var lunchSu=0;
          //Get a reference to the form id="cakeform"
          var theForm = document.forms["cakeform"];
          //Get a reference to the checkbox id="includecandles"
          var includelunchSu = theForm.elements["Saturday"];

          //If they checked the box set candlePrice to 5
          if(includelunchSu.checked==true)
          {
              lunchSu=60;
          }
          //finally we return the candlePrice
          return lunchSu;
      }
      function Sunday()
      {
          var lunchSu=0;
          //Get a reference to the form id="cakeform"
          var theForm = document.forms["cakeform"];
          //Get a reference to the checkbox id="includecandles"
          var includelunchSu = theForm.elements["Sunday"];

          //If they checked the box set candlePrice to 5
          if(includelunchSu.checked==true)
          {
              lunchSu=30;
          }
          //finally we return the candlePrice
          return lunchSu;
      }
      function Parsepartout()
      {
          var lunchSu=0;
          //Get a reference to the form id="cakeform"
          var theForm = document.forms["cakeform"];
          //Get a reference to the checkbox id="includecandles"
          var includelunchSu = theForm.elements["Parsepartout"];

          //If they checked the box set candlePrice to 5
          if(includelunchSu.checked==true)
          {
              lunchSu=100;
          }
          //finally we return the candlePrice
          return lunchSu;
      }

      function calculateTotal()
      {
          //Here we get the total price by calling our function
          //Each function returns a number so by calling them we add the values they return together
            if(Parsepartout() == 100){
                 var cakePrice = (100 + DinerSunday() + DinerSaturday() + LunchFriday() + LunchSaturday() + LunchSunday());
            }else if(Sunday() === 30 && Saturday() === 60 && Friday() == 45){
            var cakePrice = 100  + LunchFriday() + DinerSunday() + DinerSaturday() + LunchFriday() + LunchSaturday() + LunchSunday();
            }else if(Sunday() === 30 && Saturday() === 60 && Friday() != 45){
                   var cakePrice = (80 + DinerSunday() + DinerSaturday() + LunchFriday() + LunchSaturday() + LunchSunday());
            }else{
                var cakePrice = Friday() + Saturday() + Sunday() +  DinerSunday() + DinerSaturday() + Sunday() + LunchFriday() + LunchSaturday() + LunchSunday();
            }

          //display the result
          var divobj = document.getElementById('totalPrice');
          divobj.style.display='block';
          divobj.innerHTML = "Totale prijs  &euro;"+cakePrice;

      }

      function hideTotal()
      {
          var divobj = document.getElementById('totalPrice');
          divobj.style.display='none';
      }
    </script>
        <link href="styles/cakeform.css" rel="stylesheet" type="text/css" />
    </head>
    <body onload='hideTotal()'>
        <div id="wrap">

          <form action="/order/confirm" class="form-horizontal" method="post"  id="cakeform">

            <div>
                <div class="cont_order">
                   <fieldset>
                    <legend>Bestel je kaarten!</legend>
<%
    var arr = Object.keys( ticketAmount ).map(function ( key ) { return ticketAmount[key]; });
    var min = Math.min.apply( null, arr );
    var max = Math.max.apply( null, arr );
%>

                    <br/>
                    <p>

                    Lunch Friday
                    <input type="checkbox" name="lunch[]" id="lunchFri" value="0" onclick="calculateTotal()">
                    <br>
                      Lunch Saturday
                     <input type="checkbox" name="lunch[]" id="lunchSa" value="1" onclick="calculateTotal()">
                     <br>
                     Lunch Sunday
                     <input type="checkbox" name="lunch[]" id="lunchSu" value="2" onclick="calculateTotal()">
                     <br>
                     Diner Saturday
                     <input type="checkbox" name="diner[]" id="dinerSa" value="1" onclick="calculateTotal()">
                     <br>
                     Diner Sunday
                     <input type="checkbox" name="diner[]" id="dinerSu" value="2" onclick="calculateTotal()">
                     <br>
                     Ticket Vrijdag Aantal kaarten over =  <%= ticketAmount['Friday']; %>
                     <input type="checkbox" name="ticket[]" id="Friday" value="0" onclick="calculateTotal()">
                     <br>
                     Ticket Zaterdag Aantal kaarten over =  <%= ticketAmount['Saturday']; %>
                     <input type="checkbox" name="ticket[]" id="Saturday" value="1" onclick="calculateTotal()">
                     <br>
                     Ticket Zondag Aantal kaarten over = <%= ticketAmount['Sunday']; %>
                     <input type="checkbox" name="ticket[]" id="Sunday" value="2" onclick="calculateTotal()">
                     <br>
                     Parsepartout (Alle dagen een Ticket) <%= min %>
                     <input type="checkbox" name="Parsepartout" id="Parsepartout" value="0" onclick="calculateTotal()">

                    <div id="totalPrice"></div>

                    <div class="form-group">
      <label class="col-md-4 control-label" for="singlebutton"></label>
      <div class="col-md-4">
        <button id="singlebutton" name="singlebutton" class="btn btn-success">Bevestigen</button>
      </div>

                    </fieldset>
                </div>


            </div>
           </form>
    	</div><!--End of wrap-->

    </body>
    </html>
