﻿<html>
<title>Conferentie</title>
        <head>
            <meta charset="utf-8"/>
                <meta name="viewport" content="width=device-width, initial-scale=1"/>
                    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
                    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
                    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
                        <link href="https://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet" type="text/css"/>
            </head>
            <body>
                            <div class="navbar navbar-default navbar-inverse navbar-static-top">
                                <div class="container">
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                        <a href="/admin" class="navbar-brand">
                                            <span>Conferentie</span>
                                        </a>
                                    </div>
                                    <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                                        <ul class="nav navbar-nav navbar-right">
                                          <li>
                                            <a href="/users/logout">Uitloggen </a>
                                          </li>
                                            <li>
                                                <a href="/admin">Overzicht aanvragen</a>
                                            </li>
                                            <li>
                                                <a href="/admin/building">Statestiek aanwezige</a>
                                            </li>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </body>
</html>
